---

---

<div class="grid place-content-center h-svh w-svh bg-white px-4 bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:20px_20px]">
  <div class="text-center">
   <picture class="grid place-content-center">
    <img title="Error 404 Not Found" aria-label="Error 404 Not Found" class="h-72 w-auto animate-wiggle animate-infinite animate-duration-[2000ms] animate-delay-300 animate-ease-in-out animate-alternate-reverse" src="/img/404.webp" alt="Error 404 Not Found">
   </picture>

    <p class="mt-2 text-6xl font-bold tracking-tight text-gray-900">
      Oh-oh!
    </p>

    <p class="mt-4 text-4xl text-gray-500">No pudimos encontrar esa pagina.</p>

    <a
      title="Regresar a la Pagina Principal"
      href="./index.html"
      class="inline-block px-5 py-3 mt-6 text-xl font-medium text-white transition-colors duration-500 delay-500 transform bg-blue-900 border-b-4 rounded-md hover:bg-blue-800 border-blue-950 hover:border-0"
    >
      Regresar a la Pagina Principal
    </a>
  </div>
</div>
