---
import Correo from "../../components/Formulario/Correo.astro";
import Mensaje from "../../components/Formulario/Mensaje.astro";
---

<section
  id="Contacto" class="flex flex-col items-center justify-center p-2 lg:p-4"
>
  <h2
    class="mt-2 text-[3.5rem] text-center font-bold leading-[4rem] tracking-tight text-white"
    data-aos="fade-up"
  >
    <span class="bg-clip-text text-[#006068]">Contactanos</span>
  </h2>

  <form
    data-aos="fade-up"
    action="https://formspree.io/f/mzbnvjnr"
    method="post"
    class="max-w-auto px-4 max-sm:px-2 mx-2 flex flex-1 flex-col gap-1 sm:w-[400px] md:w-[600px] lg:w-[700px]"
  >
    <label
      for="email"
      class="block mt-4 text-sm font-medium text-gray-900">Ingresa tu Correo:</label
    >
    <div class="relative">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 16"
        >
          <path
            d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
          ></path>
          <path
            d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
          ></path>
        </svg>
      </div>
      <Correo />
    </div>
    <label for="message" class="block mt-5 text-sm font-medium text-gray-900"
      >Ingresa tu Mensaje:</label
    >
    <Mensaje />
    <button
      title="Enviar Correo"
      role="button"
      aria-label="Enviar Correo"
      aria-labelledby="Enviar Correo"
      type="submit"
      class="flex justify-center items-center text-white mt-5 bg-blue-900 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center border-b-4 border-blue-950 hover:border-0 transition-all duration-200 delay-200"
      ><svg
        width="28"
        height="28"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#ffffff"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M10 14l11 -11"></path>
        <path
          d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"
        ></path>
      </svg><span class="block ml-1 text-sm">Enviar Correo</span></button
    >
  </form>
</section>
