---

---

<section
  id="Mision_Vision"
  class="grid gap-3 px-5 mx-auto max-w-7xl lg:grid-cols-1"
>
  <div class="flex flex-col items-center justify-center">
    <div class="p-6 mx-auto" data-aos="fade-up">
      <div class="text-center">
        <h2
          class="mt-2 text-[3.5rem] font-bold leading-[4rem] tracking-tight text-white"
        >
          <span class="bg-clip-text text-[#006068]">Nuestra Mision</span>
        </h2>
        <p class="mt-2 leading-relaxed lg:mt-3 text-md lg:text-2xl text-slate-500">
          Fomentar la colaboración y el intercambio de conocimientos para
          impulsar el desarrollo profesional y técnico. Nos esforzamos por crear
          un entorno donde la innovación y la excelencia se fusionen, dando
          lugar a una comunidad dinámica y comprometida con el aprendizaje
          continuo y la evolución constante.
        </p>
      </div>
    </div>

    <div class="mx-auto w-[300px] lg:w-[400px] h-auto p-4" data-aos="fade-up">
      <picture>
        <img
          title="Trabajo en Equipo - TecnoConecta"
          class="rounded-xl"
          src="/img/Trabajo_en_Equipo.webp"
          alt="Trabajo en Equipo - TecnoConecta"
          aria-label="Trabajo en Equipo - TecnoConecta"
          loading="lazy"
        />
      </picture>
    </div>
  </div>

  <div class="flex flex-col items-center justify-center">
    <div class="p-6 mx-auto" data-aos="fade-up">
      <div class="text-center">
        <h2
          class="mt-2 text-[3.5rem] font-bold leading-[4rem] tracking-tight text-white"
        >
          <span class="bg-clip-text text-[#006068]">Nuestra Vision</span>
        </h2>
        <p class="mt-2 leading-relaxed lg:mt-3 text-md lg:text-2xl text-slate-500">
          Visualizamos ser la fuerza impulsora de la tecnología en CUCEA,
          liderando el camino hacia la innovación y el progreso en el ámbito
          tecnológico. Nos esforzaremos por inspirar a otros a alcanzar su máximo
          potencial y transformar el panorama tecnológico a través de nuestra
          dedicación a la excelencia y la creatividad.
        </p>
      </div>
    </div>

    <div class="mx-auto w-[300px] lg:w-[400px] h-auto p-4" data-aos="fade-up">
      <picture>
        <img
          title="Mujer Programadora - TecnoConecta"
          class="rounded-xl"
          src="/img/Mujer_Programadora.webp"
          alt="Mujer Programadora - TecnoConecta"
          aria-label="Mujer Programadora - TecnoConecta"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
