---
const navItems = [
  { titulo: "Historia", url: "#Historia" },
  { titulo: "Misión y Visión", url: "#Mision_Vision" },
  { titulo: "Roles", url: "#Roles" },
  { titulo: "Nuestros Servicios", url: "#Servicios" },
  { titulo: "Contacto", url: "#Contacto" },
];
---

<footer id="Pie_Pagina" data-aos="fade-down">
  <div class="w-full max-w-screen-xl p-4 mx-auto mt-4 lg:mt-0 md:py-8">
    <div class="justify-center md:flex sm:items-center md:justify-between">
      <a
        title="Logo de TecnoConecta"
        href="https://tecno-conecta-sitio-web-oficial.vercel.app/"
        class="flex items-center justify-center mb-4 space-x-3 sm:mb-0 rtl:space-x-reverse"
      >
        <picture>
          <img
            title="Logo Original - TecnoConecta"
            class="h-[45px] w-auto"
            src="/img/TecnoConecta_Logo_Original.webp"
            alt="Logo Original - TecnoConecta"
            aria-label="Logo Original - TecnoConecta"
            loading="lazy"
          />
        </picture>
      </a>
      <ul
        class="flex flex-wrap items-center justify-center mb-6 text-sm font-medium sm:mb-0"
      >
        {
          navItems.map(({ titulo, url }) => (
            <li>
              <a
                title={titulo}
                href={url}
                class="text-lg font-bold me-4 hover:text-[#006068] active:hover:text-[#006068] focus:hover:text-[#006068] md:me-6 bg-transparent hover:animate-fade animate-duration-1000 animate-delay-100 animate-ease-in-out"
              >
                {titulo}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-4" />

    <div
      class="flex flex-col items-center justify-between text-lg text-center md:flex-row"
    >
      <div
        class="w-10 h-10 rounded-md border flex items-center justify-center text-[#006068] hover:bg-[#006068] hover:text-gray-50 cursor-pointer"
      >
        <a
          title="Instagram de TecnoConecta"
          aria-label="Instagram de TecnoConecta"
          href="https://www.instagram.com/tecno.conecta?igsh=MW9yNmFqa2tjenZlZg%3D%3D&utm_source=qr"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            class="w-6 h-6 stroke-current"
            width="36"
            height="36"
            viewBox="0 0 24 24"
            stroke="none"
            fill="none"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
            ></path>
            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
            <path d="M16.5 7.5l0 .01"></path>
          </svg>
        </a>
      </div>
      <p class="p-2 font-medium text-center text-1xl md:hidden">
        Siguenos en Instagram
      </p>
      <span class="text-center"
        >© 2024 TecnoConecta™. Todos los Derechos Reservados.</span
      >
    </div>
  </div>
</footer>
